@use "../abstracts";

.home {
  // Banner
  .banner {
    padding: 64px 0 24px;
    background: url(../../assets/img/home-banner-bg.png) var(--white-color);
    background-size: cover;
    background-repeat: no-repeat;

    @include abstracts.screen(sm) {
      background-size: 180%;
      background-position: right top;
    }

    .banner-content {
      background-color: rgba(255, 255, 255, 0.546);
      border-radius: 6px;
      padding: 8px 20px 16px;
      border-radius: 6px;
      text-align: center;
      max-width: 360px;
      width: 100%;

      @include abstracts.screen(sm) {
        background-color: rgba(255, 255, 255, 0.6);
        max-width: 100%;
      }

      button + button {
        margin-top: 8px;
      }

      .register-tag {
        background-color: var(--white-color);
        color: #f6552d;
      }
    }

    &-content {
      .number {
        font-size: 2.2rem;
        color: var(--secondary-color);
        font-weight: bold;
        margin-right: 4px;
      }

      .date {
        font-size: 1.1rem;
      }

      &__actions {
        margin-top: 6px;

        .login-btn {
          box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.17);
        }
      }
    }
  }

  &-heading {
    font-size: 2.8rem;
    color: var(--primary-color);
    font-weight: 600;
    text-shadow: #f4fdff 1px 0 10px;
    position: relative;
    z-index: 2;

    @include abstracts.screen(sm) {
      font-size: 1.4rem;
    }
  }

  &-sub-heading {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    margin: 18px 0 20px;
    line-height: 1;

    @include abstracts.screen(sm) {
      position: relative;
      font-size: 1rem;
      z-index: 1;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        background-color: #f4fdff;
        width: 119px;
        height: 119px;
        border-radius: 999999px;
        opacity: 0.8;
        top: -70px;
        right: -20px;
        z-index: -1;
        filter: blur(10px);
      }
    }

    span {
      font-size: 5.2rem;

      @include abstracts.screen(sm) {
        font-size: 2.4rem;
      }
    }
  }

  // Job filter
  .job-filter {
    padding-top: 24px;
    padding-bottom: 30px;
    background-color: var(--white-color);

    &__heading {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: var(--primary-color);
      margin-bottom: 12px;

      img {
        width: 20px;
      }
    }

    .tabs-wrapper {
      border-bottom: 1px solid var(--border-color);
    }

    .tabs {
      --grid-gutter-x: 5px;
      position: relative;
      margin: 0 auto;

      @include abstracts.screen(sm) {
        --grid-gutter-x: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        left: var(--line-tab-offset, 0);
        bottom: 0;
        width: var(--line-tab-width, 0);
        height: 3px;
        background-color: var(--primary-color);
        transition: all 0.2s ease;
      }
    }

    .tab-item {
      text-align: center;
      font-size: 1.6rem;

      &:hover {
        cursor: pointer;
      }

      @include abstracts.screen(sm) {
        font-size: 1.4rem;
      }

      span {
        display: block;
        padding: 14px;
        background-color: var(--grey-1-color);
        transition: all 0.2s ease;

        @include abstracts.screen(sm) {
          padding: 11px;
        }
      }

      &.active {
        span {
          background-color: var(--white-color);
        }
      }
    }

    .tab-content {
      margin-top: 30px;
    }

    .tab-pane {
      display: none;
      flex-wrap: wrap;
      justify-content: space-between;

      &.active {
        display: flex;
        gap: 24px;
      }

      &__left {
        gap: 15px;
        display: flex;
        flex-wrap: nowrap;
        width: 60%;

        @include abstracts.screen(xl) {
          width: 100%;
          gap: 8px;
        }

        a {
          display: inline-flex;
          flex-direction: column;
          gap: 8px;
          align-items: center;
          padding: 24px 24px 16px;
          border: 1px solid var(--border-color);
          border-radius: 4px;
          box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.17);
          flex: 1;
          font-size: 1.6rem;
          color: var(--primary-color);
          min-width: 114px;

          @include abstracts.screen(xl) {
            padding: 14px 8px;
            font-size: 1.4rem;
            min-width: auto;
          }

          .top-icon {
            width: 20px;
            height: 25px;
            object-fit: contain;
          }

          .bot-icon {
            margin-top: auto;
          }

          .circle-icon {
            width: 16px;
          }

          .number {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }
      }

      &__right {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(xl) {
          width: 100%;
          justify-content: flex-end;
        }

        &-info {
          font-size: 1.4rem;

          @include abstracts.screen(sm) {
            font-size: 1.2rem;
          }

          span {
            font-size: 2.2rem;
            color: var(--primary-color);
          }
        }

        .note {
          color: var(--primary-2-color);
          text-align: right;
        }

        .filter-submit-btn {
          color: var(--white-color);
          padding: 20px 24px;
          background-color: var(--primary-color);
          font-size: 1.6rem;

          @include abstracts.screen(sm) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  // Services
  .services {
    padding-top: 24px;
    padding-bottom: 40px;

    @include abstracts.screen(sm) {
      padding-bottom: 24px;
    }
  }

  .services__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h3 {
      font-size: 2.7rem;

      @include abstracts.screen(sm) {
        font-size: 1.6rem;
      }
    }

    .number {
      color: var(--secondary-color);
      font-size: 3rem;
      font-weight: bold;

      @include abstracts.screen(sm) {
        font-size: 2.2rem;
      }
    }

    .unit {
      font-size: 2rem;

      @include abstracts.screen(sm) {
        font-size: 1.3rem;
      }
    }

    &-link {
      color: var(--primary-2-color);
      font-size: 1.4rem;

      @include abstracts.screen(sm) {
        font-size: 1.2rem;
      }
    }
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  // Recommended
  .recommended {
    .recommended-list {
      &__item {
        border-radius: 4px;
        box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.17);
        background-color: var(--white-color);
        width: 100%;
      }
    }

    &-item__top {
      font-size: 1.6rem;
      color: var(--primary-color);
      padding: 20px 20px 10px;

      @include abstracts.screen(md) {
        padding: 14px 14px 6px;
      }
      border-bottom: 1px solid var(--border-color);
    }

    .recommended-item__content {
      padding: 20px;

      @include abstracts.screen(md) {
        padding: 14px;
      }

      li {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      li + li {
        margin-top: 3px;
      }

      span {
        display: inline-block;
      }

      &-label {
        padding: 4px 16px;
        background-color: #f0f0f0;
        font-size: 1.2rem;
        min-width: 80px;
      }
    }

    /* custom for carousel */
    .flickity-button {
      display: none;
    }

    .carousel-cell {
      margin-right: 20px;
      width: 33%;

      @include abstracts.screen(md) {
        width: 60%;
      }

      @include abstracts.screen(sm) {
        width: 80%;
      }
    }

    .carousel-cell:last-child {
      margin-right: 0;
    }
  }

  //Popular feature
  .popular-feature {
    --grid-gutter-x: 20px;
    &__item {
      padding: 15px;
      background-color: var(--white-color);
      display: flex;
      align-items: center;
      gap: 20px;

      &:nth-child(1) {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid var(--border-color);
      }

      &:nth-child(2) {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid var(--border-color);
      }

      &-content {
        align-self: flex-start;
      }

      .title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;

        @include abstracts.screen(sm) {
          font-size: 1.4rem;
        }
      }

      .text {
        font-size: 1.4rem;

        @include abstracts.screen(sm) {
          font-size: 1.2rem;
        }
      }

      &-arrow {
        margin-left: auto;
      }
    }
  }

  // Recent jobs
  .recent-jobs {
    &__items {
      background-color: var(--white-color);
      border-radius: 4px;

      &-link {
        display: flex;
        padding: 20px;
        align-items: center;
        gap: 48px;

        .job-info {
          display: flex;
          flex-wrap: wrap;
          gap: 8px 48px;
        }

        &:not(:first-child) {
          border-top: 1px solid var(--border-color);
        }

        .title {
          color: var(--primary-color);
          font-size: 1.5rem;

          @include abstracts.screen(sm) {
            font-size: 1.4rem;
          }
        }

        .salary {
          font-size: 1.3rem;
          display: inline-flex;
          align-items: center;
          gap: 4px;

          @include abstracts.screen(sm) {
            font-size: 1.2rem;
          }
        }

        .arrow {
          margin-left: auto;
        }
      }
    }
  }

  //Search criteria
  .search-criteria {
    &__groups {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-item {
        padding: 0 26px;
        background-color: var(--white-color);
        border-radius: 4px;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.17);

        @include abstracts.screen(sm) {
          padding: 0 16px;
        }
      }

      li {
        display: flex;
        align-items: center;
        padding: 20px 0;

        @include abstracts.screen(sm) {
          padding: 16px 0;
        }
      }

      li + li {
        border-top: 1px solid var(--border-color);
      }

      img {
        width: 20px;
      }

      .index {
        display: flex;
        gap: 13px;
        align-items: center;
        margin-right: 40px;

        @include abstracts.screen(sm) {
          flex-direction: column;
          gap: 4px;
          margin-right: 16px;
          font-size: 1rem;
        }

        .label {
          text-wrap: nowrap;
        }
      }

      .description {
        @include abstracts.screen(sm) {
          font-size: 1.2rem;
        }
      }
    }
  }

  //Job references
  .jobs-references {
    padding: 40px 0px;
    background-color: var(--white-color);

    &-wrapper {
      --grid-gutter-x: 20px;

      @include abstracts.screen(md) {
        --grid-gutter-y: 25px;
      }
    }

    &__heading {
      font-size: 2rem;
      margin-bottom: 16px;

      @include abstracts.screen(md) {
        font-size: 1.6rem;
      }
    }

    .label {
      padding: 12px 20px;
      background-color: var(--primary-3-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.6rem;

      &.active {
        background-color: var(--primary-4-color);
      }
    }

    .label.active + .content {
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
    }

    .collapse-icon {
      transition: rotate linear 0.2s;
    }

    .label.active .collapse-icon {
      rotate: 180deg;
    }

    .content {
      background-color: var(--primary-4-color);
      border-top: 1px solid var(--white-color);
      padding: 12px 20px;
      font-size: 1.3rem;
      display: none;

      &-item {
        .text {
          margin-right: 5px;
        }
      }
    }

    .content + .label {
      margin-top: 1px;
    }
  }

  // Registration
  .registration {
    padding: 60px 0;
    background-color: #2e547e;

    @include abstracts.screen(sm) {
      padding: 25px 0;
    }

    &-info {
      margin: 15px 0 29px;
      text-align: center;
      color: var(--white-color);

      @include abstracts.screen(sm) {
        margin: 13px 0 17px;
      }
    }

    &-button {
      color: var(--white-color);
      padding: 10px;
    }

    button {
      height: 100%;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.17);

      .register-tag {
        color: var(--secondary-color);
      }
    }

    &-buttons {
      --grid-gutter-x: 20px;

      @include abstracts.screen(sm) {
        --grid-gutter-y: 8px;
      }
    }
  }

  // Jobs flow
  .jobs-flow {
    padding: 36px 0;

    @include abstracts.screen(sm) {
     padding: 26px 0;
    }

    &__steps {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 25px;
        height:  calc(100% - 52px);
        width: 1px;
        background-color: var(--primary-1-color);
        left: 45px;
        z-index: -1;

        @include abstracts.screen(sm) {
          left: 25px;
         }
      }
    }

    &__heading {
      font-size: 2rem;
      margin-bottom: 17px;

      @include abstracts.screen(sm) {
        font-size: 1.6rem;
        margin-bottom: 13px;
      }
    }

    &__steps-item {
      display: flex;
      gap: 26px;
      padding: 20px;
      background-color: var(--white-color);

      @include abstracts.screen(sm) {
        background-color: transparent;
        padding: 0;
        gap: 12px;
      }
    }

    &__steps-item + .jobs-flow__steps-item {
      margin-top: 15px;

      @include abstracts.screen(sm) {
        margin-top: 26px;
      }
    }

    .step-icon {
      background-color: var(--primary-1-color);
      color: var(--white-color);
      padding: 7px;
      text-align: center;
      width: 52px;
      flex: none;
      text-transform: uppercase;
      height: fit-content;

      .label {
        font-size: 1rem;
        line-height: 1;
      }

      .number {
        font-size: 2.6rem;
        line-height: 1;
      }
    }

    .step-content {
      h4 {
        font-size: 1.6rem;
        color: var(--primary-color);
        margin-bottom: 8px;

        @include abstracts.screen(sm) {
          font-size: 1.4rem;
        }
      }

      p {
        @include abstracts.screen(sm) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
